* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    color:brown;
}

.layout {
    width: 1024px;
    margin: 0 auto;
   }
   table {
    width: 100%;
    border-collapse: collapse;
   }
    strong {
            cursor: pointer;
            color: darkred;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td,th {
      border:1px solid black;
    }
    th {
   background-color: rgb(225, 192, 152);
    }
    h1 {
      color:blue;
    }
    section {
        background-color:blanchedalmond;
    }
    #Image {
        background-color: brown;
    }
    a [href="https://artchive.ru/res/media/img/oy1400/work/763/105281@2x.webp"] {
        background-color: green;
    }

    a {
        color: darkred;
    }
    section p a {
        color: green;
    }
    h2 + p::selection{
       text-transform: lowercase;
       background-color:red;
        
    }
    h1:hover {
        text-decoration: line-through;
        cursor: pointer;
    
    }
    
    h1 {
        margin-top: 120px;
    }
    clearfix::after{
        content: "";
        clear: both;
        display: table;
    }
    header {
        background-color: black;
        height: 80px;
        position: fixed;
        top: 0px;
        right: 0;
        left: 0;
    }
    .net {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
         
    }

    .cell {
        width: 300px;
        height: 300px;
        border: 1px solid brown;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        background-color: gold;
        position: relative;
    }
    .cell:after {
        content: "text";
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        transform: rotate(-20deg);
        padding-left: 5px;
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: purple;
    }
    .cell:before {
        content: "arcaid";
        padding-right: 5px;
    }
    .cell:nth-child(3n + 2) {
       background-color: gold;
    }
    button:disabled {
        color: coral;
    }
    input:focus {
        box-shadow: 0 0 10px orange;;
    }
     .header {
     background-color: blue;
    }
    header nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    }

   .sample {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
   }
   .sample__cell {
    display: flex;
    width: 300px;
    height: 300px;
    border: 2px solid #0000;
   }
   header nav a {
    display: inline-flex;

   }
   .sample_cell::nth-child(2) {
    align-self: center;
   }
   .sample__cell:first-child {
    order: 1;
   }
   .sample__cell:first-child(0){
    order: 0;
   }
   .band-list {
    display: flex;
    flex-wrap: wrap;
   }
   .band {
    display: flex;
    width: 300px;
    border-radius: 10px;
   }